/*
Theme Name: Child Theme Sofia
Template: twentytwentyfive
*/


* {
    font-family: 'Lucida Console', monospace;
}

h1{
    color: #1f471f;
    font-size: bold;
}

body{
    background-color: #c0d3c0;
    color: #ffffff;
}

